QWidget {
    background-color: rgb(255, 255, 255);
    border-width: -3px;
    border-color: rgba(255, 216, 58, 225);

    border-radius: 15px;
}


QWidget#centralwidget {
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border: 3px solid #ffee6f;
    /* border-color: rgba(255, 216, 58, 225); */


}

QProgressBar {
    border: 2px solid rgb(15, 185, 236);
    border-radius: 5px;
}

QProgressBar::chunk {
    background-color: #ffee6f;
    /* width: 20px; */
}